:root {
    --color-primary: #eb2f64;
    --color-primary-light: #FF3366;
    --color-primary-dark: #BA265D;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

    --line: 1px solid var(--color-grey-light-2);
}

.header {
    background-color: var(--color-grey-light-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--line);
    position: sticky;
    font-size: 1.4rem;
    top:0;
    height: 4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index:9;
}

.header__logo {
    font-size:2rem;
}

.catalogo {
    margin: 0 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.container__category {
    font-size:1.5rem;
    color: var(--color-grey-dark-2);
    margin: 1rem 1rem;
}

.page {
    font-size: 5rem;
    font-stretch: ultra-condensed;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
        color: var(--color-grey-dark-1);
        font-size: 1.2rem;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 20px;
        width: 90%;
        margin-right: -3.25rem;
 }

 .search__input:focus {
    outline: none;
}

 .search__button {
    border: none;
}

.search__button:focus {
    outline: none;
}

 .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
}

.shopping-cart__icon {
    margin: 0 1rem;
    height: 2rem;
    width: 2rem;
    opacity: .3;
    background-image: url('icon/shopping-cart.svg');
}

.card__icon {
    width: 70%;
    text-align: right;
    display: inline-block;
    transform: translateY(10px);
}

.card__add__icon {
    margin: 0 1rem;
    height: 2rem;
    width: 2rem;
    opacity: .3;
    background-image: url('icon/add-solid.svg');
}

.card {
    margin: 0.7rem 0;
    width:200px;
    border: var(--line);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card__image {
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card__name {
    margin: .7rem .7rem;
}

.card__detail {
    margin: .4rem 1rem;
    border-top: var(--line);
    padding: .5rem 0;
}

.card__product-name {

}

.search__icon {
    height: 1.5rem;
    width: 1.5rem;
    opacity: .3;
    background-image: url('/icon/search.svg');
}

.previousPage__icon-box {
    height: 4.25rem;
    width: 2.25rem;
    background-image: url('/icon/cheveron-left.svg');
    background-repeat: no-repeat;
}

.nextPage__icon-box {
    height: 4.25rem;
    width: 2.25rem;
    background-image: url('/icon/cheveron-right.svg');
    background-repeat: no-repeat;
}